<label for="authorName">Author name</label>
<input type="text" name="name" class="form-control" id="authorName" aria-describedby="authorName"
   placeholder="Enter Authors Name" value="<%= author.name%>">