<div class="container col-8 m-auto"">
   <div style=" margin-top: 100px;">
   <h1>Add New</h1>
   <form method="POST" action="/author/new">
      <div class="form-group">
         <%- include('../partials/_form_fields')%>
      </div>
      <a class="btn btn-success" href="/author/all">Cancel</a>
      <button type="submit" class="btn btn-primary">Submit</button>
   </form>
</div>
</div>