<div>
   <form class="form-inline " action="/author/all" method="GET">
      <input class="form-control col-11" name="name" type="text" placeholder="Search author" aria-label="Search"
         value="<%= searchOptions.name %>">
      <button class="btn btn-primary btn-outline my-2 my-sm-0" type="submit"
         style="background-color:green;;">Search</button>
   </form>
   </span>

   <hr>
   <ul class="list-group">
      <% allAuthors.forEach(authors => {%>
      <li class="list-group-item d-flex justify-content-between align-items-center">
         <%= authors.name%>
         <span class="badge badge-primary badge-pill">
            <%= authors.dateAdded%>
         </span>
      </li>
      <%})%>
   </ul>
</div>